html(lang="en", ng-app="IntervieweeApp")
  head
    include ./layout
    script(src="LoginInteractivity.js")
  body(class="container-fluid")
    div(class="row", id="header")
      nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="navbar-header") 
          h1 Interviewee
        div(class="navbar-right")
          button#loginBtn(class="btn btn-default") Login
          button#signupBtn(class="btn btn-success") Sign Up
    div(class="row", id="body")
      div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
      div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
        div#headup
          p When did I apply for this job...?
          p How many jobs have I applied...?
          p How many interviews do I have now...?
          h2 That is why interviewees need an 
          h1 Interviewee!!!
        div#signupform
          form#signup(action="/signup", method="POST")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-user")
              input#username(type="text", name="username", class="form-control", placeholder="Username", aria-describedby="sizing-addon1")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-qrcode")
              input#password(type="password", name="password", class="form-control", placeholder="Password", aria-describedby="sizing-addon1")
            input(type="submit", value="Sign Up", class="btn btn-success btn-block")

        div#loginform
          form#login(action="/main", method="POST")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-user")
              input#username(type="text", name="username", class="form-control", placeholder="Username", aria-describedby="sizing-addon1")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-qrcode")
              input#password(type="password", name="password", class="form-control", placeholder="Password", aria-describedby="sizing-addon1")
            input(type="submit", value="Login", class="btn btn-default btn-block")
      div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
    div(class="row", id="footer")   
      //- nav(class="navbar navbar-inverse navbar-fixed-bottom")
      //-   h4 Presented by 
      //-     a Xuchang Chen
