html(lang="en", ng-app="IntervieweeApp")
  head
    include ./layout
    script(src="LoginInteractivity.js")
  body(class="container-fluid", style="background-image: url('bgpic.gif'); background-size: cover;", ng-controller="FormCtrl")
    div(class="row", id="header")
      nav(class="navbar navbar-custom navbar-fixed-top")
        div(class="navbar-header") 
          h1 
            b Interviewee
        a#developerInfo(href="https://www.linkedin.com/in/xuchangchen") 
          b Developer&nbsp;    
          img#linkedinIcon(src='linkedinIcon.png')
        div(class="navbar-right")
          button#loginBtn(class="btn btn-default raised") Login  
          button#signupBtn(class="btn btn-success raised") Sign Up
    div(class="row", id="body")
      div(class="col-xs-0 col-sm-0 col-md-4 col-lg-4")
      div(class="col-xs-12 col-sm-12 col-md-4 col-lg-4")
        div#headup
          p
            span(class="glyphicon glyphicon-console")
            | Record. 
            span(class="glyphicon glyphicon-ok", style="color: #76FF03;")
          p
            span(class="glyphicon glyphicon-console")
            | Manage.
            span(class="glyphicon glyphicon-ok", style="color: #76FF03;")
          p
            span(class="glyphicon glyphicon-console")
            | Feedback.
            span(class="glyphicon glyphicon-ok", style="color: #76FF03;")
          p(style="text-align: center; color: #FF3D00; text-decoration: underline;") Your Interviews

        div#formbg
          div#signupform
            form#signup(action="/signup", method="POST", name="signupform" novalidate)
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-user")
                input#username(type="text", name="username", class="form-control", placeholder="Username", aria-describedby="sizing-addon1", ng-model="Susername" required)
              span(style="color:red" ng-show="signupform.username.$dirty && signupform.username.$invalid")
                span(ng-show="signupform.username.$error.required") Username is required.
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-qrcode")
                input#password(type="password", name="password", class="form-control", placeholder="Password", aria-describedby="sizing-addon1", ng-model="Spassword" required)
              span(style="color:red" ng-show="signupform.password.$dirty && signupform.password.$invalid")
                span(ng-show="signupform.password.$error.required") Password is required.
              input(type="submit", value="Sign Up", class="btn btn-success btn-block raised", ng-disabled="signupform.username.$error.required || signupform.password.$error.required")

          div#loginform
            form#login(action="/main", method="POST", name="loginform" novalidate)
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-user")
                input#username(type="text", name="username", class="form-control", placeholder="Username", aria-describedby="sizing-addon1", ng-model="Lusername" required)
                //- p {{username}}
              span(style="color:red" ng-show="loginform.username.$dirty && loginform.username.$invalid")
                span(ng-show="loginform.username.$error.required") Username is required.
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-qrcode")
                input#password(type="password", name="password", class="form-control", placeholder="Password", aria-describedby="sizing-addon1", ng-model="Lpassword" required)
              span(style="color:red" ng-show="loginform.password.$dirty && loginform.password.$invalid")
                span(ng-show="loginform.password.$error.required") Password is required.
              input(type="submit", value="Login", class="btn btn-default btn-block raised", ng-disabled="loginform.username.$error.required || loginform.password.$error.required")
      div(class="col-xs-0 col-sm-0 col-md-4 col-lg-4")
    div(class="row", id="footer")   
      //- nav(class="navbar navbar-inverse navbar-fixed-bottom")
      //-   h4 Presented by 
      //-     a Xuchang Chen
