html(lang="en", ng-app="IntervieweeApp")
  head
    include ./layout
  body(class="container-fluid", ng-controller="MainCtrl")
    div(class="row", id="header")
      nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="navbar-header") 
          h3 Interviewee
    div(class="row", id="body")
      div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
        h2 Welcome, #{username}
        script.
          var username = !{JSON.stringify(username)};
          //console.log(username);
        div#infoform
          form#info(action="/addOne", method="POST")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-home")
              input#company(ng-model="company", type="text", name="company", class="form-control", placeholder="Company", aria-describedby="sizing-addon1")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-map-marker")
              input#position(ng-model="position", type="text", name="position", class="form-control", placeholder="Position", aria-describedby="sizing-addon1")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-calendar")
              input#date(ng-model="date", type="date", name="date", class="form-control", placeholder="Date", aria-describedby="sizing-addon1")
          button(ng-click="addOne()", class="btn btn-success btn-block") Add An Interview

        div#tabs
          ul(class="nav nav-pills nav-stacked")
            li(class="active") 
              a(href="#") Applied
            li
              a(href="#") Interviewing
            li
              a(href="#") Offered
            li
              a(href="#") Rejected
      div(class="col-xs-8 col-sm-8 col-md-8 col-lg-8")
        div(ng-repeat="interview in interviews", class="well") 
          span {{interview.company}}
          span {{interview.position}}
          span {{interview.date}}

    div(class="row", id="footer")   
      //- nav(class="navbar navbar-inverse navbar-fixed-bottom")
      //-   h4 Presented by 
      //-     a Xuchang Chen
