html(lang="en", ng-app="IntervieweeApp")
  head
    include ./layout
  body(class="container-fluid", ng-controller="MainCtrl")
    div(class="row", id="header")
      nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="navbar-header") 
          h3 Interviewee
    div(class="row", id="body")
      div(class="col-xs-3 col-sm-3 col-md-3 col-lg-3")
        h2 Welcome, #{username}
        script.
          var username = !{JSON.stringify(username)};
          var usericon = !{JSON.stringify(usericon)};
          console.log(usericon);

        div#userIcon
          canvas(width="250%", height="250%", data-jdenticon-hash=usericon)
        div#infoform
          form#info(action="/addOne", method="POST")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-home")
              input#company(ng-model="company", type="text", name="company", class="form-control", placeholder="Company", aria-describedby="sizing-addon1")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-map-marker")
              input#position(ng-model="position", type="text", name="position", class="form-control", placeholder="Position", aria-describedby="sizing-addon1")
            div(class="input-group input-group")
              span(class="input-group-addon", id="sizing-addon1") 
                span(class="glyphicon glyphicon-calendar")
              input#date(ng-model="date", type="date", name="date", class="form-control", placeholder="Date", aria-describedby="sizing-addon1")
          button(ng-click="addOne()", class="btn btn-success btn-block") Add An Interview
        br
        br
        div#tabs
          ul(class="nav nav-pills nav-stacked")
            li(ng-class="getCategoryClass(-1)")
              a(ng-click="selectCategory(-1)", href="") 
                b ALL
                span(class="badge") {{all}}
            li(ng-class="getCategoryClass(0)") 
              a(ng-click="selectCategory(0)", href="") 
                b Waiting
                span(class="badge") {{waiting}}
            li(ng-class="getCategoryClass(1)") 
              a(ng-click="selectCategory(1)", href="") 
                b Interviewing
                span(class="badge") {{interviewing}}
            li(ng-class="getCategoryClass(2)") 
              a(ng-click="selectCategory(2)", href="") 
                b Offered
                span(class="badge") {{offered}}
            li(ng-class="getCategoryClass(3)") 
              a(ng-click="selectCategory(3)", href="") 
                b Rejected
                span(class="badge") {{rejected}}
      div(class="col-xs-9 col-sm-9 col-md-9 col-lg-9")
        div(class="panel panel-default")
          div(class="panel-heading")
            h1 Interview List 

          div(class="panel-body")
            h2 Brief Summary
            div#briefSummary(class="progress")
              div(class="progress-bar progress-bar-warning progress-bar-striped active", role="progressbar", ng-style="{'width': waitingPercent+'%'}")
                | Waiting {{waitingPercent}}%
              div(class="progress-bar progress-bar-info progress-bar-striped active", role="progressbar", ng-style="{'width': interviewingPercent+'%'}")
                | Interviewing {{interviewingPercent}}%
              div(class="progress-bar progress-bar-danger progress-bar-striped active", role="progressbar", ng-style="{'width': rejectedPercent+'%'}")
                | Rejected {{rejectedPercent}}%
              div(class="progress-bar progress-bar-success progress-bar-striped active", role="progressbar", ng-style="{'width': offeredPercent+'%'}")
                | Offered {{offeredPercent}}%

            div#search
              //- button#callModal(class="btn btn-success btn-lg") Add Interview
              div(class="input-group input-group")
                  span(class="input-group-addon", id="sizing-addon1") 
                    span(class="glyphicon glyphicon-search")
                  input#company(ng-model="reqtarget", type="text", class="form-control", placeholder="Search...", aria-describedby="sizing-addon1")

          table(class="table table-hover")
            thead
              tr
                th Company
                th Position
                th Date
                th Status
                th Action
                th Delete
            tr(ng-repeat="interview in interviews | filter:categoryFilter | Search:reqtarget") 
              td {{interview.company}}  
              td {{interview.position}}  
              td {{interview.date | date: format: longDate}}  
              td {{interview.statusStr}}
                  //- div(class="progress") 
                    //- ng-class="getStatusColor(interview.status)", 
                    //- div(aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%") 

              td  
                div(class="dropdown") 
                  button(class="btn btn-warning dropdown-toggle", data-toggle="dropdown") Change Status 
                    span(class="caret")
                  ul(class="dropdown-menu", role="menu")
                    li
                      a(ng-click="Interviewing(interview.key)", href="") Interviewing
                    li
                      a(ng-click="Offered(interview.key)", href="") offered
                    li
                      a(ng-click="Rejected(interview.key)", href="") rejected
                
              td 
                button(ng-click="Delete(interview.key)", class="btn btn-danger") 
                  span(class="glyphicon glyphicon-remove")
    div(class="row", id="footer")   
      //- nav(class="navbar navbar-inverse navbar-fixed-bottom")
      //-   h4 Presented by 
      //-     a Xuchang Chen
