html, body{
	height: 100%;
}

#header{
	height: 10%;
	width: 100%;
}

#userlog{
	color: white;
}

h3{
	color: white;
	margin-left: 10%;
}

#body{
	height: 90%;
	width: 100%;
}

#userIcon{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#callModal{
	display: inline-block;
	float: right;
}

#signupform{
	width: 70%;
}

#loginform{
	width: 70%;
}

/*#footer{
	height: 20%;
	width: 100%;
}
*/
h4{
	text-align: center;
	color: white;
}